@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #151515;
}

.home-first {
  background-image: url(./illumination.png);
  background-position: center;
  background-color: #151515;
  background-size: cover;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 140vh;
}

.content {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.0625em;
}

.icons {
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.btn-pill {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    90deg,
    rgba(251, 137, 32, 0.14) 0%,
    rgba(255, 77, 1, 0.11) 100%
  );
  cursor: pointer;
  width: 271px;
  height: 16px;
}

.btn-pill > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.btn-pill > div > span {
  width: 252px;
  color: #ff9217;
  text-align: center;
  font-family: "Inter";
  font-size: 11.8px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 135.593% */
}

.heading {
  font-family: Inter;
  font-size: 72.4px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 116.022% */
  background: linear-gradient(94deg, #e5f4ff 0%, #5dade5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subHeading {
  height: 82px;
  overflow: hidden;
}

.subHeading > div {
  display: flex;
  padding: 0px 67px 0px 69px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 39px;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px; /* 175% */
  background: linear-gradient(94deg, #e5f4ff 0%, #5dade5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.description {
  color: #f2f2f2;
  max-width: 520px;
  text-align: center;
  font-family: Inter;
  font-size: 17.9px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 156.425% */
}

.linkbtn {
  display: flex;
  max-width: 147.29px;
  max-height: 34px;
  padding: 9px 31.645px;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.2);
  color: #000;
  font-family: Inter;
  font-size: 13.9px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 115.108% */
  letter-spacing: 0.2px;
  cursor: pointer;
}

.morebtn {
  display: flex;
  height: 48.1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15.644px;
  cursor: pointer;
}

.morebtn > span {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 13.9px;
  font-style: normal;
  font-weight: 500;
  line-height: 16.1px; /* 115.827% */
}

.rings {
  width: 100%;
  height: inherit;
  object-fit: none;
  object-position: center;
}

.icons {
  width: 100%;
  height: inherit;
  object-fit: none;
  object-position: center;
}

/* home-second css starts here */
.home-second {
  background: #1d1d1d;
  padding: 61px 40px;
}

.title-white {
  color: #fff;

  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 150% */
}

.subtitle {
  color: rgba(255, 255, 255, 0.6);

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
.gapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 358px;
  gap: 12px;
}

.home-second::before {
  background-image: url(https://s3-alpha-sig.figma.com/img/5ed9/7bcf/7b19e4a0406cebcae657426ed7304a27?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=M26S4Zt9hFDbT~YjPfxBwiIQ3tTT-LO87zz~gWB0F8XP9wVo-4MgU1f0Xf-J67tL-bLYCOCG96Up0TY-thTdbMHT2~I907XM8YhbwHj6KeHUO0TxqdSx9NHGdqoTtKbsOY~VdK-Nr80~IrHBUebB5H8NDo9n3Y8A1mF97UF3QCxGFlGuas92L7FsQMTEInNbMdDDNwR2~wBvGrl8XhscnXxbjOLg41MZ7RAwVi8RKasZTmAL7j~01D7zLMvYYYyU2njUzqi6K5ncSnYMMIGsWUyotOHAdUTPiixS2ApPdCcZN9aCdhyQqMExIyYO9FmaHTTw3SRW~iZqcui9vEisag__);
  width: 583px;
  height: 224.134px;
  position: absolute;
  content: "";
  left: 0;
  background-repeat: no-repeat;
}

/* home third section begins */
.home-third {
  width: 100%;
  height: 740px;
  background: url(81.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
}

.third-flex {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 15px;
  justify-content: space-around;
}

.third-flex-text {
  flex-grow: 1;
}

.features {
  padding: 27px 24px;
  border-radius: 16px;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 258px);
  grid-template-rows: repeat(3, 47.083px);
  row-gap: 14.27px;
  column-gap: 16.49px;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.05);
}

.features > div {
  border-radius: 6px;
  background: #f0f8f8;
  color: #000;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 11.65px;
  padding: 0px 11.65px;
}

.features > div > svg {
  width: 28px !important;
  height: 28px !important;
}

.third-flex-text {
  font-family: Outfit;
  font-size: 50px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  max-width: 583px;
}

.third-flex-head-white {
  color: #fff;
  font-weight: 400;
}
.third-flex-head-color {
  color: #aa67fe;
  font-weight: 700;
}
.txt-left {
  text-align: left;
}

.outlined-btn {
  display: flex;
  padding: 9px 20.5px 8px 19.5px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 46px;
  border: 2px solid #9747ff;
  color: var(--var, #aa67fe);

  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px; /* 300% */

  width: max-content;
  height: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.home-fourth {
  background-color: #000;
  padding: 95px 0px;
}

.glass-outer {
  border-radius: 40px;
  border-top: 1px solid rgba(218, 218, 218, 0.45);
  width: 800px;
  height: 350px;
  background: #232323;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.glass-inner {
  border-radius: 35px;
  border-top: 1px solid rgba(104, 104, 104, 0.44);
  border-left: 1px solid rgba(104, 104, 104, 0.44);
  background: #292929;
  display: flex;
  width: 780px;
  height: 330px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cool-image {
  width: 596px;
  height: 250.94px;
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
}

.horizontal-panes-fourth {
  display: flex;
  justify-content: space-between;
}
.horizontal-panes-fourth-reverse {
  flex-direction: row-reverse;
}

.glass-right {
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  left: unset;
  right: -35px;
}
.glass-left {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: -35px;
  right: unset;
}

.panes-container {
  display: flex;
  flex-direction: column;
  gap: 205px;
}

.glass-inner::after {
  content: "";
  width: 40px;
  height: 40px;
  background: url(arrow.svg);
  position: absolute;
  top: 37px;
  right: 59px;
}

.glass-image {
  margin-left: auto;
  margin-right: auto;
  width: 490px;
  height: 232px;
  border-radius: 40px;
  object-fit: cover;
  position: relative;
  top: 50%;
}

.glass-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 42px 78px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 28px;
}

.head {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.purple-head {
  color: var(--var, #aa67fe);
}

.white-head {
  color: var(--var, #fff);
}

.glass-text-concept {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-fifth {
  padding-block: 26vh 14.5vh;
  background: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-fifth {
  padding-block: 30px 52px;
  max-width: 908px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(264px, 294px));
  grid-template-rows: repeat(4, minmax(87px, 1fr));
  grid-column-gap: 18px;
  grid-row-gap: 39px;
}

.cards > div {
  border-radius: 10px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards > div {
  display: flex;
  gap: 18px;
  align-items: center;
}

/* .cards > div > div {
  max-width: 190px;
} */

.cards > div:nth-child(1) > div {
  max-width: 162px;
}

.cards > div:nth-child(3) > div {
  max-width: 154px;
}

.cards > div:nth-child(5) > div {
  max-width: 160px;
}

.cards > div:nth-child(6) > div {
  max-width: 120px;
}

.cards > div:nth-child(10) > div {
  max-width: 230px;
}

.cards > div:nth-child(1) {
  background: #ecf3fe;
}

.cards > div:nth-child(2) {
  background: #fef8e6;
}

.cards > div:nth-child(3) {
  background: #fdf4f0;
}

.cards > div:nth-child(4) {
  background: #e7faf3;
}

.cards > div:nth-child(5) {
  background: #f1f1fb;
}

.cards > div:nth-child(6) {
  background: #ecf3fe;
}

.cards > div:nth-child(7) {
  background: #fef8e6;
}

.cards > div:nth-child(8) {
  background: #fdf4f0;
}

.cards > div:nth-child(9) {
  background: #e7faf3;
}

.cards > div:nth-child(10) {
  background: #e7faf3;
  grid-row: 4;
  grid-column: 2;
}

.home-sixth {
  background: #151515;
}

.subtitle-sixth {
  max-width: 770px;
  padding-block: 40px 25px;
}

.container-sixth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumb-parent {
  background-color: #151515;
  gap: 49px;
  padding-inline: 10vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 460px;
  padding-block: 5vh;
}

.thumb-parent > img {
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  max-width: 846px;
  max-height: 460px;
  object-fit: cover;
}

.thumb-parent > div{
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .thumb-parent {
    grid-template-columns: 1fr;
    gap: 19px;
  }
}
