@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #151515;
  /* width: 100vw; */
}

.home-first {
  background-image: url(./illumination.png);
  background-position: center;
  background-color: #151515;
  background-size: cover;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: max-content;
}

.content {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.7em;
}

.icons {
  position: absolute;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.btn-pill {
  display: flex;
  padding: 0.4375em;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  border: 0.0625em solid rgba(255, 255, 255, 0.05);
  background: linear-gradient(
    90deg,
    rgba(251, 137, 32, 0.14) 0%,
    rgba(255, 77, 1, 0.11) 100%
  );
  cursor: pointer;
  width: 16.9375em;
  height: 1em;
}

.btn-pill > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4375em;
}

.btn-pill > div > span {
  color: #ff9217;
  text-align: center;
  font-family: "Inter";
  font-size: 0.7375em;
  font-style: normal;
  font-weight: 500;
  line-height: 1em; /* 135.593% */
}

.heading {
  font-family: Inter;
  font-size: 4.525em;
  font-style: normal;
  font-weight: 700;
  background: linear-gradient(94deg, #e5f4ff 0%, #5dade5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.subHeading {
  height: 5.125em;
  overflow: hidden;
}

.subHeading > div {
  display: flex;
  padding: 0em 4.1875em 0em 4.3125em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 2.4375em;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: 5.25em; /* 175% */
  background: linear-gradient(94deg, #e5f4ff 0%, #5dade5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-content: flex-start;
}

.description {
  color: #f2f2f2;
  max-width: 26em;
  text-align: center;
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75em; /* 156.425% */
}

.linkbtn {
  display: flex;
  padding: 0.6625em 2.6778em;
  justify-content: center;
  align-items: center;
  border-radius: 2.1875em;
  border: 0.0625em solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0em 0em 0em 0.1875em rgba(255, 255, 255, 0.2);
  color: #000;
  font-family: Inter;
  font-size: 0.9688em;
  font-style: normal;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.0125em;
  cursor: pointer;
}

.morebtn {
  display: flex;
  height: 3.0063em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9778em;
  cursor: pointer;
  position: relative;
  top: 2.8125em;
}

.morebtn > span {
  color: rgba(255, 255, 255, 0.4);
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 1.0063em; /* 115.827% */
}

.rings {
  width: auto;
  height: 100vh;
  object-fit: contain;
  object-position: center;
}

.icons {
  width: 100vh;
  height: inherit;
  object-fit: none;
  object-position: center;
}

.view-down {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.4);
}

/* home-second css starts here */
.home-second {
  background-color: #1d1d1d;
  background-image: url(Glow-2.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 3.8125rem 2.5rem;
}

.title-white {
  color: #fff;

  font-family: Inter;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.5rem; /* 150% */
}

.subtitle {
  color: rgba(255, 255, 255, 0.6);

  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
}
.gapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 22.375rem; */
  gap: 0.75rem;
}

.home-second::before {
  background-image: url(https://s3-alpha-sig.figma.com/img/5ed9/7bcf/7b19e4a0406cebcae657426ed7304a27?Expires=1708905600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=M26S4Zt9hFDbT~YjPfxBwiIQ3tTT-LO87zz~gWB0F8XP9wVo-4MgU1f0Xf-J67tL-bLYCOCG96Up0TY-thTdbMHT2~I907XM8YhbwHj6KeHUO0TxqdSx9NHGdqoTtKbsOY~VdK-Nr80~IrHBUebB5H8NDo9n3Y8A1mF97UF3QCxGFlGuas92L7FsQMTEInNbMdDDNwR2~wBvGrl8XhscnXxbjOLg41MZ7RAwVi8RKasZTmAL7j~01D7zLMvYYYyU2njUzqi6K5ncSnYMMIGsWUyotOHAdUTPiixS2ApPdCcZN9aCdhyQqMExIyYO9FmaHTTw3SRW~iZqcui9vEisag__);
  width: 36.4375rem;
  height: 14.0084rem;
  position: absolute;
  content: "";
  left: 0;
  background-repeat: no-repeat;
}

/* home third section begins */
.home-third {
  width: 100%;
  min-height: 90vh;
  background: url(81.png);
  background-position: right;
  background-repeat: no-repeat;
  background-color: black;
  display: flex;
  align-items: center;
  align-content: center;
}

.third-flex {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 0.9375rem;
  justify-content: space-around;
  width: 100%;
}

.third-flex-text {
  flex-grow: 1;
}

.features {
  padding: 1.6875rem 1.5rem;
  border-radius: 1rem;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(2, 16.125rem);
  grid-template-rows: repeat(3, 2.9427rem);
  row-gap: 0.8919rem;
  column-gap: 1.0306rem;
  box-shadow: 0.25rem 0.25rem 2.5rem 0rem rgba(0, 0, 0, 0.05);
}

.features > div {
  border-radius: 0.375rem;
  background: #f0f8f8;
  color: #000;
  font-family: Outfit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.7281rem;
  padding: 0rem 0.7281rem;
}

.features > div > svg {
  width: 1.75rem !important;
  height: 1.75rem !important;
}

.third-flex-text {
  font-family: Outfit;
  font-size: 3.125rem;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1.875rem;
  max-width: 36.4375rem;
}

.third-flex-head-white {
  color: #fff;
  font-weight: 400;
  font-size: 3.125rem;
}
.third-flex-head-color {
  color: #aa67fe;
  font-weight: 700;
  font-size: 3.125rem;
}
.txt-left {
  text-align: left;
}

.outlined-btn {
  display: flex;
  padding: 0.5625rem 1.2813rem 0.5rem 1.2188rem;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.875rem;
  border: 0.125rem solid #9747ff;
  color: var(--var, #aa67fe);

  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 4.5rem; /* 300% */

  width: max-content;
  max-height: 3.125rem;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.home-fourth {
  background-color: #000;
  padding: 5.9375rem 0rem;
}

.glass-outer {
  border-radius: 2.5rem;
  border-top: 0.0625rem solid rgba(218, 218, 218, 0.45);
  width: 50rem;
  height: 21.875rem;
  background: #232323;
  position: relative;
  padding: 0.625rem;
  box-sizing: border-box;
}

.glass-inner {
  border-radius: 2.1875rem;
  border-top: 0.0625rem solid rgba(104, 104, 104, 0.44);
  border-left: 0.0625rem solid rgba(104, 104, 104, 0.44);
  background: #292929;
  display: flex;
  width: 48.75rem;
  height: 20.625rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cool-image {
  width: 37.25rem;
  height: 15.6837rem;
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
}

.horizontal-panes-fourth {
  display: flex;
  justify-content: space-between;
}
.horizontal-panes-fourth-reverse {
  flex-direction: row-reverse;
}

.glass-right {
  padding-right: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  left: unset;
  right: -2.1875rem;
}
.glass-left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  left: -2.1875rem;
  right: unset;
}

.panes-container {
  display: flex;
  flex-direction: column;
  gap: 12.8125rem;
}

.glass-inner::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background: url(arrow.svg);
  position: absolute;
  top: 2.3125rem;
  right: 3.6875rem;
}

.glass-image {
  margin-left: auto;
  margin-right: auto;
  width: 30.625rem;
  height: 14.5rem;
  border-radius: 2.5rem;
  object-fit: cover;
  position: relative;
  top: 50%;
}

.glass-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.625rem 4.875rem;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 1.75rem;
}

.head {
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.purple-head {
  color: var(--var, #aa67fe);
}

.white-head {
  color: var(--var, #fff);
}

.glass-text-concept {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.home-fifth {
  padding-block: 17vh 14.5vh;
  background: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subtitle-fifth {
  padding-block: 1.875rem 3.25rem;
  max-width: 56.75rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(10px, 294px));
  grid-template-rows: repeat(4, 5.4375rem);
  grid-column-gap: 1.125rem;
  grid-row-gap: 2.4375rem;
  width: 100%;
  justify-content: center;
}

.cards > div {
  border-radius: 0.625rem;
  color: #000;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards > div {
  display: flex;
  gap: 1.125rem;
  align-items: center;
}

/* .cards > div > div {
  max-width: 11.875rem;
} */

.cards > div:nth-child(1) > div {
  max-width: 10.125rem;
}

.cards > div:nth-child(3) > div {
  max-width: 9.625rem;
}

.cards > div:nth-child(5) > div {
  max-width: 10rem;
}

.cards > div:nth-child(6) > div {
  max-width: 7.5rem;
}

.cards > div:nth-child(10) > div {
  max-width: 14.375rem;
}

.cards > div:nth-child(1) {
  background: #ecf3fe;
}

.cards > div:nth-child(2) {
  background: #fef8e6;
}

.cards > div:nth-child(3) {
  background: #fdf4f0;
}

.cards > div:nth-child(4) {
  background: #e7faf3;
}

.cards > div:nth-child(5) {
  background: #f1f1fb;
}

.cards > div:nth-child(6) {
  background: #ecf3fe;
}

.cards > div:nth-child(7) {
  background: #fef8e6;
}

.cards > div:nth-child(8) {
  background: #fdf4f0;
}

.cards > div:nth-child(9) {
  background: #e7faf3;
}

.cards > div:nth-child(10) {
  background: #e7faf3;
  grid-row: 4;
  grid-column: 2;
}

.home-sixth {
  background: #151515;
}

.subtitle-sixth {
  max-width: 48.125rem;
  padding-block: 2.5rem 1.5625rem;
}

.container-sixth {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thumb-parent {
  background-color: #151515;
  gap: 3.0625rem;
  padding-inline: 10vw;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 28.75rem;
  padding-block: 5vh;
  position: relative;
  z-index: 10;
}

.image-container > img {
  border-radius: 1.5625rem;
  cursor: pointer;
  width: 100%;
  /* max-width: 52.875rem;
  max-height: 28.75rem; */
  object-fit: cover;
}

.thumb-parent > div {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 80rem) {
  .thumb-parent {
    grid-template-columns: 1fr;
    gap: 1.1875rem;
  }
  .image-container > img {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
  }
}

.thumbGrid > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  z-index: 9;
}

.thumbGrid > div > .image-container > img {
  width: 100%;
  height: auto;
  /* max-height: 11.4375rem; */
  object-fit: cover;
  border-radius: 1.5625rem;
}

.thumbGrid > div > .title-white {
  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
  padding-inline: 1.125rem;
  margin-top: 1.75rem;
}

.thumbGrid > div > .subtitle {
  font-size: 0.875rem;
  line-height: 1.5rem !important;
  padding-inline: 1.125rem;
}

.tp-reader {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.tools {
  padding-inline: 10vw;
  padding-block: 1.25rem 2.3125rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 20;
}

.button-tools {
  display: flex;
  padding: 0.6875rem 0.8125rem;
  background: transparent;
  color: #adadad;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  border: 0.0625rem solid #818181;
  cursor: pointer;
}

.tools > div {
  display: flex;
  gap: 2.3125rem;
}

.search {
  display: flex;
  width: 26.4375rem;
  padding: 0.5625rem 1.625rem 0.5rem 1.625rem;
  align-items: center;
  gap: 1.3125rem;
  border-radius: 0.625rem;
  background: rgba(255, 255, 255, 0.13);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-overlay {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    105deg,
    rgba(124, 105, 150, 0.34) 3.63%,
    rgba(153, 93, 228, 0.27) 97.49%
  );
  border-radius: 1.5625rem;
}

.tools-header {
  padding-block: 3.375rem 0rem;
}

.icon-btn {
  display: flex;
  gap: 0.5625rem;
}

.blog-info > div {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.blog-info > div > div:first-child {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-info > div > div:last-child {
  color: rgba(255, 255, 255, 0.6);

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem; /* 125% */
}

.content-blog {
  color: #fff;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; /* 140% */
  padding-block: 3.75rem;
}

.content-blog-heading {
  color: #fff;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.9375rem;
  padding-top: 1.875rem;
}

.second-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.3125rem;
  padding-block: 8.83vh;
  align-items: center;
}

.second-flex > div {
  flex-grow: 1;
}

.scroll-horizontal-section {
  padding-block: 10.7vh 10.7vh;
  /* gap: 9.09vh; */
  background: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}

.plate-horizontal {
  display: flex;
  align-content: center;
  align-items: center;
  position: absolute;
}

.fading-plates {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.fading-plates > img {
  position: absolute;
  height: auto;
  width: 53.33vw;
}

.plate-icon {
  width: 8.4375rem;
  height: 8.4375rem;
}

.plate-text-title {
  color: #c253fe;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; /* 91.667% */
}

.plate-text-subtitle {
  color: var(--Neutral-600, #6f6c90);
  font-family: "DM Sans";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 111.111% */
}

.plate-item {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}

.plate-left-icon {
  margin-left: 0.875rem;
  width: auto;
  height: 1.4375rem;
}

.about-hero-section {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1.5625rem;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  background: url("https://s3-alpha-sig.figma.com/img/f295/63c2/037c09846625eb90744f7ce82135d8b1?Expires=1709510400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ai-rYLdJiAqfJniS~7lQKkVBfjz0ZVUnVXqdeF1M8kerxf9ID-pPZOQDIwNG6jb1WMhuZ0twfRcr~azqSKPWuPliNMi9BBkAXD4E6Y7fVZojMFp6xpAl9MbS51iWOvWMAA7dBqidkrkc08gC6ym7~15XQZLKg2yZjHGsRXNOFyGUt5Qqoa9KrZ2H7lFkrol4MBK3MUHvj9jzdEWwXjm~O9PaRSb7apLxC6v4pRwQRUpVItFoUw6XXIB8~-96q4VG4iYZ8KEmw7kJfl55Nnc87BME9TjqS881xTHj7YI2iNpb2ikXPpC8FwHPWOjQhCZ~9H5I8MtuFT9lcmtPRlN7dg__");
  background-size: contain;
  position: relative;
}

.classic-1 {
  background-size: cover;
  bottom: 0;
  position: absolute;
  width: 100vw;
  background-image: url("group\ 775.png");
  height: 16.6875rem;
  background-position: center;
}

.classic-2 {
  bottom: 0;
  position: absolute;
  right: 0;
}

.classic-3 {
  position: absolute;
  right: 0;
  top: 16vh;
}

.about-heading {
  color: #fff;
  font-family: Inter;
  font-size: 4.525rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.25rem;
}

.about-heading-grad {
  background: linear-gradient(94deg, #e5f4ff 0%, #c253fe 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Glossy {
  border-radius: 1.875rem;
  background-color: #201e24;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-block: 11.2vh;
  box-sizing: border-box;
}

.GlossyParent {
  padding-inline: 8.78vw;
  box-sizing: border-box;
}

.career-container {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;
}

.members {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 10.7vh;
}
.palette {
  display: grid;
  grid-template-columns: repeat(3, 22rem);
  grid-template-rows: 16rem;
  gap: 5rem;
  padding-block: 7.6vh;
}

.gray-tinge {
  background: lightgray 50% / cover no-repeat, #c4c4c4;
}

.member-info {
  position: absolute;
  bottom: -4.875rem;
  z-index: 0;
  width: 22rem;
  padding: 2.5rem 0rem 1.375rem 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  background: rgba(255, 255, 255, 0.13);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.member-name {
  color: #fff;
  font-family: Rubik;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5625rem;
}

.member-description {
  color: #adadad;
  font-family: Rubik;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

@media screen and (max-width: 500px) {
  .content {
    font-size: 13px !important;
  }
  html {
    font-size: 12px;
  }
  .second-grid > div {
    padding-inline: 0 !important;
  }

  .cards {
    width: 100% !important;
  }
  .thumbGrid > div > .title-white {
    font-size: 1rem !important;
    line-height: 1.4rem !important;
    margin-top: 0;
    padding-inline: 0.8rem;
  }

  .thumbGrid > div > .subtitle {
    font-size: 0.75rem;
    line-height: 1.2rem !important;
    padding-inline: 0.8rem;
  }
  .home-third {
    background: none !important;
  }
}
@media screen and (max-width: 639px) {
  .content {
    font-size: 13px;
  }
  .second-grid {
    grid-template-columns: 1fr !important;
    justify-items: center !important;
  }
  .third-flex {
    flex-direction: column;
  }
  .third-flex-text {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home-third {
    background-position: left;
    padding-block: 59px;
  }
  .txt-left {
    text-align: center;
  }
  .third-flex {
    height: auto;
    gap: 60px;
  }
  .features {
    grid-template-columns: unset;
    grid-template-rows: unset;
    width: 85%;
  }
  .features > div {
    font-size: 1.1rem;
    justify-content: center;
    padding: 1rem 0.7281rem;
  }
  .home-third {
    height: auto;
    background: none;
  }
  .cards > div:nth-child(10) {
    background: #e7faf3;
    grid-row: initial;
    grid-column: initial;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: initial;
    grid-row-gap: 2.4375rem;
    width: 85%;
  }
  .cards > div {
    padding-block: 1.5rem;
  }
  .cards > div > div {
    max-width: unset !important;
  }
  .home-fifth {
    text-align: center;
    padding-block: 1rem;
  }
  .home-sixth {
    text-align: center;
  }
  .thumbGrid {
    grid-template-columns: repeat(2, 50%) !important;
  }
  section {
    padding-inline: 30px !important;
    box-sizing: border-box;
  }
  .second-grid > div {
    padding-inline: unset !important;
  }
}

/* regular css begins */

.caro-plate-1 {
  background: url("112.png");
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caro-plate-1-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.caro-info-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 40px;
}

.caro-avatar {
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 10px;
}

.caro-plate-2 {
  border-radius: 29px;
  border: 1px solid #b6b6b6;
  padding: 35px;
  background: var(
    --grad1,
    linear-gradient(
      121deg,
      rgba(124, 105, 150, 0.67) 5.7%,
      rgba(153, 93, 228, 0.54) 92.96%
    )
  );

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  text-align: left;
  height: max-content;
}

.caro-color-main {
  color: #989898;
}

.caro-color-special {
  color: #fff;
}

.caro-plates {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 408px));
  grid-template-rows: minmax(313px, 1fr);
}

.caro-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-block: 116px 122px;
  width: max-content;
  padding-inline: 70px;
  box-sizing: border-box;
  gap: 70px;
}

/* regular css ends */

@media screen and (min-width: 640px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .second-grid {
    grid-template-columns: 1fr !important;
    justify-items: center !important;
  }
  .cards {
    grid-template-columns: repeat(2, minmax(10px, 294px));
    grid-template-rows: repeat(5, 5.4375rem);
  }
  .third-flex-text {
    justify-content: center;
    text-align: center;
  }
  .third-flex {
    flex-direction: column;
    gap: 40px;
    padding-block: 3rem;
  }
  .features {
    grid-template-columns: repeat(2, 21.125rem);
    grid-template-rows: repeat(3, 3.943rem);
  }
  .features > div {
    font-size: 1.2rem;
  }

  .thumbGrid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
  .cards {
    grid-template-columns: repeat(2, minmax(10px, 294px));
    grid-template-rows: repeat(5, 5.4375rem);
  }
  .third-flex-text {
    justify-content: center;
    text-align: center;
  }
  .third-flex {
    flex-direction: column;
    gap: 40px;
    padding-block: 3rem;
  }
  .features {
    grid-template-columns: repeat(2, 21.125rem);
    grid-template-rows: repeat(3, 3.943rem);
  }
  .features > div {
    font-size: 1.2rem;
  }
  .palette {
    grid-template-columns: repeat(3, 13rem) !important;
    grid-template-rows: 12rem !important;
    gap: 5rem !important;
  }
  
  .member-info {
    width: 16rem;
  }

}

/* common changes upto 1023px */
@media screen and (max-width: 1023px) {
  .thumbGrid {
    gap: 24px 24px !important;
  }
  .home-third {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.35906862745098034) 16%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("81.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  .second-grid > img {
    width: 80% !important;
  }
  
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }
  .third-flex {
    justify-content: center;
  }
  .palette {
    grid-template-columns: repeat(3, 13rem) !important;
    grid-template-rows: 12rem !important;
    gap: 5rem !important;
  }

  .member-info {
    width: 16rem;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
}

@media screen and (min-width: 1536px) {
}

.marquee-child {
  padding-block: 3.125rem 6.375rem;
  /* keep width same as supplied to the <Marquee> */
  width: max-content;
  display: flex;
}

.marquee-child > svg {
  padding-inline: 2rem;
}
